<footer class="footer">
  <small>
    <a href="http://www.kiddiecare.co.uk">Kiddiecare app</a>
    by Richard H
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://kiddiecare.co.uk/">News</a></li>
    </ul>
  </nav>
</footer>
